{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% if object %}{% trans "Update" %}{% else %}{% trans "Create" %}{% endif %} - {% trans "Lubimovka Readers" %}
{% endblock title %}

{% block content %}
    <article>
        <header>
            <h2>{% if object %}{% trans "Update Record" %}{% else %}{% trans "Create Record" %}{% endif %}</h2>
        </header>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            
            <footer>
                <button type="submit">{% trans "Submit" %}</button>
                <a href="javascript:history.back()" role="button" class="outline secondary">{% trans "Cancel" %}</a>
            </footer>
        </form>
    </article>
{% endblock content %}
