{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Login" %} - {% trans "Lubimovka Readers" %}{% endblock title %}

{% block content %}
    <article style="max-width: 500px; margin: 0 auto;">
        <header>
            <h2 style="margin-bottom: 0;">{% trans "Sign In" %}</h2>
        </header>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% trans "Login" %}</button>
        </form>
    </article>
{% endblock content %}
